---
---

@import "{{ site.theme }}";

body {
	background-color: #fffaf3;
}

.site-header {
	border-top: 0px;
	border-bottom: 0px;
}

.site-footer {
	border-top: 0px;
	border-bottom: 0px;
	padding: $spacing-unit 0;
}